@import 'config';
@import 'utilities';
@import 'form';
@import 'dropdown';
@import 'animations';


// Resets
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

// Core styling
body, html {
  height:100%;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #333;
  background-color: #fff;
}

a {
  text-decoration:none;
  color: #111;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

// Navbar
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 3;
  width: 100%;
  top: 0;
  border-bottom: solid 1px lighten($primary-color, 15%);
  opacity: 0.9;

  ul {
    display: flex;
  }

  a {
    padding: 0.45rem;
    margin: 0 0.25rem;
    color: $light-color;
    transition: all 0.2s ease-in;

    &:hover {
      color: $primary-color;
    }
  }

  #open-slide {
    display: none;
  }

}



.login {
  background-color: $primary-color;
  border-radius: 5px;
  transition: all 0.2s ease-in;

  &:hover {
    background-color: $light-color;
  }

  a:hover {
    color: $dark-color;
  }
}

.logo {
  font-size: 2em;
}

.dropdown-nav {
  position: fixed;
  top: 4.5rem;
  padding: 2rem;
  z-index: 2;
  background-color: $dark-color;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: 0.3s ease-in;
  display: none;
    
    li {
      list-style: none;
      padding: 0.5rem 1rem;
      display: inline;

      .login {
        width: 2rem;
      }
    }

    a{
      color: $light-color;
      transition: all 0.2s ease-in;

      &:hover {
        color: $primary-color;
      }
    }

  }



// Landing Page

.pimg1, .pimg2, .pimg3{
  position: relative;
  opacity: 0.70;
  background-position:center;
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment: fixed;

  a {
    color: #000;
    transition: all 0.4s ease-in;

    &:hover {
      color: $primary-color;
    }
  }
}

.pimg1{
  background-image: url('../images/pimg1.jpeg');
  min-height: 100vh;

  #landing-logo {
    animation-duration: 4s;
  }

  #scrollDown {
    z-index: 10;
    position: absolute;
    text-align: center;
    left: 0%;
    right: 0%;
    bottom: 2vh;
    i {
      color: $light-color;
    }
  }
}

.pimg2{
  background-image: url('../images/pimg2.jpeg');
  min-height: 400px;
}
.pimg3{
  background-image: url('../images/pimg3.jpeg');
  min-height: 400px;
}

.section{
  text-align: center;
  padding:50px 80px;

  h2 {
    margin: 1.25rem;
  }

  p {
    margin: 1rem auto;
    width: 80%;

  }
}

.section-light{
  background-color: $light-color;
  color:#666;
}

.section-dark{
  background-color: $dark-color;
  color: #ddd;
}

.ptext{
  position:absolute;
  top:45%;
  width:100%;
  text-align:center;
  color:#000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext.title{
  font-size:40px;
}

.ptext .border{
  background-color: #111;
  color: #fff;
  padding: 20px
}

.ptext .border.trans{
  background-color: transparent;
  color: #000;
}

.pimg2 a{
  color:#f4f4f4;
}


// How To Use
#section1 {
  margin: 4rem 0 4rem 0;
}

#section2 {
  display: grid;
  grid-template-areas:
    "para1 img"
    "para2 img";
  
    p {
      padding: 2rem 2rem 2rem 3rem;
      font-size: 1.2rem;
      line-height: 2rem;
    }
    #para1 {
      padding-top:3.5rem;
      grid-area: para1;
    }
    #para2 {
      padding-bottom: 3.5rem;
      grid-area: para2;
    }
  #leaf-drop {
    max-width: 400px;
    grid-area: img;
  }
}

#section3 {
  margin: 6rem 0 3rem 0;

  h2 {
    margin-bottom: 4rem;
  }

  #grid {
    display:grid;
    text-align: center;
    grid-template-areas:
      "square1 square2"
      "square3 square4";
    
    #square1 {
      grid-area: square1;
    }

    #square2 {
      grid-area: square2;
    }

    #square3 {
      grid-area: square3;
    }

    #square4 {
      grid-area: square4;
    }

    #square1, #square2, #square3, #square4 {
      padding: 3rem;
    }

    h3 {
      margin: 1.5rem 0 1rem 0;
      font-size: 1.5rem;
    }

    p {
      font-size: 1.2rem;
    }

    i {
      color: $primary-color;
    }
  }
}


// Herb Finder
#herb-finder-title{
  margin-bottom: 4rem;
}
section#finder-info {
  font-size: 1.2rem;
  margin-bottom: 2rem;

  i {
    margin: 0.5rem 1rem 0 0;;
  }

  p {
    line-height: 2rem;
  }
}

section#condition-selector {
  background-color: $light-color;
  margin: 4rem 0rem 4rem 0;
  
  h2{
    padding: 2rem 2rem 0 2rem;
    margin: 0;
  
  }
  #buttons {
    background-color: $light-color;
    padding: 2rem;
    
    
    button {
      margin: 0.8rem;
    } 
  }
}

section#condition-list{
  h2 {
    margin-top: 1rem;
  }
  .condition {
    margin-bottom: 2rem;
  }
  li {
    list-style: none;
  }

  a {
    font-size: 1.2rem;
    &:hover {
      color: $primary-color;
    }
  }
}


// Materia Medica
.action-indication {
  margin-bottom: 3rem;

  h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
    color: $primary-color;
  }

  h4 {
    font-size:1.1rem;
  }

  .actions {
    padding-bottom: 1rem;
  }

  .indications i {
    padding: 0.3rem 0rem 0 0.5rem;
  }
}

#other-info {
  h3 {
  color: $primary-color;
  margin-bottom: 0.5rem;
  }

  p {
    margin-bottom: 1rem;
  }

  div {
    padding-top: 0;
  }

  #spacer {
    padding-top: 1rem;
  }
}

#herb-select-btns {
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  border-bottom: 2px solid lighten($dark-color, 50%);
  z-index: 1;
  position: relative;
}

.dropdown {
  z-index: 1;
  position: relative;
}

#herb-entry {
  margin-top: 5rem;
  z-index:0;
  position: relative;
}

#herb-id {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas: 
    "subs image"
    "subs image";
  margin-bottom: 3rem;
   
  #herb-title {
    margin: 0 0 2rem 0;
    padding-bottom: 2rem;
  }

  #herb-subtitles {
    grid-area: subs;
  }

  #herb-img{
    border-radius: 50%;
    grid-area: image;
    height: 350px;
    width:350px;
    overflow: hidden;
    position: relative;
    top: -17px;
    img {
      height: 350px;
    }
  } 
}

#reference-button {
  display: block;
  width: 100%;
  margin: 1rem auto 1rem auto;
  border-radius: 10px;
  text-align: center;
} 

// Dispensary
#dispensary {

  i {
    color: $primary-color;
    margin-right: 1rem;
  }

  #card-one {
    p {
    font-weight: 500;
    margin: 1.7rem 0;
    font-size: 1.2rem;
    }

    .icon-group {
      display: flex;

      i.fa-leaf {
        margin-top: 2.5rem;
      }

      i.fa-flask {
        margin-top: 2.2rem;
      }

      i.fa-exclamation-circle {
        margin-top: 2.1rem;

        &+ p {
          margin-bottom: 1.7rem;
        }
      }

      p {
        margin-bottom: 0;
      }
    }
  }

  #card-two p {
    font-size: 1.2rem;
  }


  .list-group i {
      margin-top: 0.4rem;
  }

  #prescription-form {
    padding: 2rem;
    margin-bottom: 2rem;

    button {
      border-radius: 10px;
    }
  }
}


// Cabinet
.prescription {
  margin-bottom: 3rem;
  border-radius: 10px;
  border: 1px solid lighten($dark-color, 70%);

  h3 {
    font-weight: normal;
    padding: 1rem;
  }

  .prescription-heading {
    margin-right: 0.5rem;
    font-weight: bold;
  }

  #prescription-table {
    margin-left: 0.5rem;
    margin-bottom: 1.5rem;
    width: 75%;
    border-collapse: collapse;
    font-size: 1.2rem;
    
    th {
      text-align: left;
    }

    th, td {
      border-bottom: 1px solid darken($light-color, 20%);
      padding: 0.5rem;
    }

    tr:hover {
      background-color: lighten($light-color, 10%);
    }
  }
  
  .prescription-buttons {
    padding: 1rem;
    
    button {
      margin-right: 1rem;
      border-radius: 10px;
    }

    #edit-btn {
      &:hover {
        background-color: lighten($dark-color, 10%);
      }
    }
    #delete-btn {
      &:hover {
        background-color: darken(red, 10%);
      }
    }
  }
}

// Edit medicine
input[placeholder="Add herb..."] {
  margin: 0 0.5rem;
}


// About
#contact {
  margin-top: 4rem;

  h2 {
    margin-bottom: 0rem;
  }

  a {
    &:hover {
      animation: glow 1s ease-in-out infinite alternate;
    }
  }
}

#about-skills {
  margin: 3rem 0rem;

  i {
    &.fa-seedling{
    color: $primary-color;
    margin-right: 0.5rem;
    }
    &.fa-code{
    color: $dark-color;
    margin-right: 0.5rem;
    }
  }

  h2{
    margin-bottom: 0.5rem;
  }

  p {
    margin: 0.75rem 0 1.75rem 0 ;
  }
}

.contact-info {
  margin: 0 0 0 1rem;
}

// Login page
#sign-up {
  #lock {
    cursor: pointer;
    margin-right: 1rem;
  }
  
  #login-reason {
  max-width: 550px;
  }
  
  #sign-up-btn {
  margin: 1rem 0;
  }
  
  #login-link {
    margin-left: 0.7rem;
  }
}




// References
#reference-list {
  margin-top: 5rem;
  padding: 2.7rem 3rem;
  li{
    padding: 1rem 0;
    font-size: 1.2rem;
  }
}

// Terms
#terms {
  div:nth-child(2) {
    margin-top: 3rem;
  }
}

// Footer
footer {
  min-height: 10vh;
  padding: 0.7rem 2rem;
  border-top: solid 1px lighten($primary-color, 15%);

  div:first-child {
    text-align: center;
    margin-top: 1rem;
  }
  
  a {
    padding: 0.45rem;
    margin: 0 0.25rem;
    color: $light-color;
    transition: all 0.2s ease-in;

    &:hover {
      color: $primary-color;
    }
  }

  ul {
    text-align: center;
    margin: 0.8rem 0;
  }

  li {
    display: inline; 
  }
  
}

@import 'media';














